body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: auto;
}

.section {
  padding: 120px 0 120px 0;
}

.img-section {
  padding-bottom: 120px;
}

.portfolio-section {
  padding-top: 108px;
  padding-bottom: 100px;
}

.catalog-section {
  padding-bottom: 120px;
  padding-top: 0px;
}

.catalog-link {
  text-decoration: none;
  color: #2e2f42;
}

.heading-color {
  color: #2e2f42;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  color: #2e2f42;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  margin-right: 77px;
  padding: 24px 0;
}

.logo span {
  font-family: "Raleway";
  color: #4d5ae5;
  font-weight: 800;
}

.primary-navigation-list {
  list-style: none;
  display: flex;
  margin-right: 300px;
}

.primary-nav-item:not(:last-child) {
  margin-right: 40px;
}

.primary-navigation-link {
  display: block;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-navigation-item:last-child {
  margin-right: 0px;
}

.primary-navigation-link:hover,
.primary-navigation-link:focus {
  color: #434455;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #4d5ae5;
  border-radius: 2px;
}

.primary-navigation-link:active {
  color: #4d5ae5;
}

.contacts-list {
  list-style: none;
  display: flex;
}

.contacts-list .contact-item:not(:last-child) {
  margin-right: 40px;
}

.contact-link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #434455;
}

.contact-link:active {
  color: #4d5ae5;
}

.hero-section {
  padding: 192px 0 192px 0;
  text-align: center;
  background-size: cover;
  max-width: 1600px;
  height: 603px;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../img/mobile_hero_bg@2x.jpg");
  }
}

@media (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../img/tablet_hero_bg.jpg");
  }

  @media (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../img/tablet_hero_bg@2x.jpg");
    }
  }
}

@media (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../img/desktop_hero_bg.jpg");
  }

  @media (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../img/desktop_hero_bg@2x.jpg");
    }
  }
}

.hero-text {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  margin-bottom: 48px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background: #4d5ae5;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  padding: 16px 32px;

  transition-property: background box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-button:active {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.what-are-we-doing-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.what-are-we-doing-ico-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.what-are-we-doing-ico {
  display: block;
  width: 64px;
  height: 64px;
}

.what-are-we-doing-item {
  width: 264px;
  margin-right: 24px;
}

.what-are-we-doing-item:last-child {
  margin-right: 0px;
}

.what-are-we-doing-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.what-are-we-doing-img-heading {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.what-are-we-doing-content {
  line-height: 1.5;
}

.what-are-we-doing-img-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
}

.our-team-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.work-item {
  width: 360;
  margin-right: 24px;
}

.work-item:last-child {
  margin-right: 0px;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
  margin-right: 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0px;
}

.person-card-content {
  padding: 32px 16px;
}

.person-name-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.person-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.person-social-media-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 12px;
}

.person-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.person-social-media-link:hover,
.person-social-media-link:focus {
  background-color: #31d0aa;
}

.person-social-media-ico {
  display: block;
  fill: #ffffff;
  width: 16px;
  height: 16px;
}

.customers-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.customers-item:not(:last-child) {
  margin-right: 24px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: #4d5ae5;
  border: 1px solid #4d5ae5;
}

.customers-ico {
  display: block;
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
  list-style: none;
}

.filter-button {
  margin-right: 24px;
}

.filter-button:last-child {
  margin-right: 0px;
}

.filter-item {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:hover,
.filter-item:focus {
  background-color: #4d5ae5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
}

.filter-item:active {
  background: #404bbf;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: calc(-1 * 24px);
  margin-left: calc(-1 * 24px);
}

.catalog-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  flex-basis: calc(100% / 3 - 2 * 24px);
  margin-bottom: 24px;
  margin-left: 24px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.catalog-thumb {
  position: relative;
  overflow: hidden;
}

.catalog-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  opacity: 1;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-item:hover .catalog-overlay,
.catalog-item:focus .catalog-overlay {
  transform: translateY(0);
}

.catalog-overlay-text {
  color: #fff;
  position: absolute;
  display: flex;
  top: 32px;
  right: 32px;
  left: 40px;
}

.catalog-image {
  display: block;
  width: 360px;
  height: 300px;
}

.catalog-content {
  padding: 32px 16px;
  border: 0.5px solid #f4f4fd;
  border-top: none;
}

.catalog-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  color: #e7e9fc;
  height: 310px;
  padding: 100px 0;
}

.footer-desc-block {
  display: block;
  margin-right: 120px;
  width: 264px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #e7e9fc;
  display: block;
  margin-bottom: 16px;
}

.footer-logo span {
  font-family: "Raleway";
  color: #4d5ae5;
  font-weight: 800;
}

.footer-social-media-block {
  margin-right: 40px;
}

.footer-social-media-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.footer-social-media-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 12px;
}

.footer-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
}

.footer-social-media-ico {
  display: block;
  fill: #ffffff;
  width: 16px;
  height: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 408px;
  min-height: 576px;
  background-color: #ffffff;
}

.modal-close-button {
  cursor: pointer;

  margin-top: 24px;
  margin-left: 360px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-close-button-ico {
  display: block;
  width: 8px;
  height: 8px;
}

.modal-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin: 32px 24px 16px 24px;
  text-align: center;
}

.form {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

.form-area {
  position: relative;

  margin-bottom: 8px;
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column-reverse;
}

.form-label {
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.16;
}

.form-input {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;

  padding-left: 34px;

  transition-property: border-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-ico-label {
  position: absolute;
  top: 50%;
  left: 19px;
  color: #2e2f42;
}

.input-ico {
  width: 13px;
  height: 13px;
  fill: currentColor;
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-label + .input-ico-label {
  color: #4d5ae5;
}

.form-input:focus + .input-ico-label {
  color: #4d5ae5;
}

.form-texarea {
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  height: 120px;

  padding-left: 16px;
  padding-top: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 0, 875;
  letter-spacing: 0.01em;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-texarea:focus {
  border-color: #4d5ae5;
}

.modal-privacy-link {
  text-decoration: none;
  color: #4d5ae5;
}

.form-privacy-check {
  appearance: none;
}

.privacy-check-icon-field {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;

  transition-property: background-color border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-check-icon {
  width: 10px;
  height: 8px;
  fill: #ffffff;
}

.form-privacy-check:checked + .privacy-check-icon-field {
  background-color: #4d5ae5;
  border-color: #4d5ae5;
}

.submit-button {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  width: 170px;
  height: 51px;

  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  transition-property: box-shadow background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.submit-button:active {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-mail {
  display: inline-block;
  width: 264px;
  height: 40px;

  background-color: #2e2f42;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding-left: 16px;

  margin-right: 24px;

  color: #ffffff;

  font-family: "Roboto";
  font-size: 12px;
  line-height: 1;
}

.subscribe-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  gap: 16px;

  background-color: #4d5ae5;

  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.subscribe-ico {
  width: 24px;
  height: 20px;
  fill: #ffffff;
}
